a {
  padding: 0.2rem 0.5rem;
  transition: all ease-in-out .2s;
}

a:hover {
  transform: scale(1.04);
}

.nav-centered {
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .nav-centered {
    padding-top: 1rem;
  }
}
