<app-navbar navIndex="{{navUi}}"></app-navbar>

<div class="main-container">
  <div class="top-container">
    <div class="content-container">
      <h1 class="content-title">De pessoas para pessoas...</h1>
      <div class="title-underline"></div>
      <p class="content-text">
        O mercado de psicoterapia continua o mesmo desde sua criação, há quase 80 anos atrás. 
        Com os avanços da tecnologia é impensável deixar que esta profissão torne-se cada vez mais e mais arcaica. 
        Nós percebemos essa deficiência, que também nos afeta, e trazemos uma nova maneira de enxergar a terapia.
      </p>
    </div>
    <div class="top-img-container">
      <img src="icons/people.jpeg" alt="Imagem de pessoas conversando">
      <img src="icons/people_2.jpeg" alt="Imagem de pessoas conversando">
    </div>
  </div>

</div>