<app-navbar navIndex="{{navUi}}"></app-navbar>

<div class="main-container">
  <div class="top-container">
    <div class="top-content-container">
      <h1 class="content-title">De pessoas para pessoas...</h1>
      <div class="title-underline"></div>
      <p class="content-text">
        O mercado de psicoterapia continua o mesmo desde sua criação, há quase 80 anos atrás. 
        Com os avanços da tecnologia é impensável deixar que esta profissão torne-se cada vez mais e mais arcaica. 
        Nós percebemos essa deficiência, que também nos afeta, e trazemos uma nova maneira de enxergar a terapia.
      </p>
      <div class="content-text-underline"></div>"
    </div>
    <div class="top-img-container">
      <img src="icons/people.jpeg" alt="Imagem de pessoas conversando">
      <img src="icons/people_2.jpeg" alt="Imagem de pessoas conversando">
    </div>
  </div>
  <div class="mid-container">
    <div class="mid-content-container">
      <div class="mid-content-1">
        <h1 class="content-title">90%</h1>
        <p class="content-text"> dos pacientes conhecem o seu trabalho por indicação de outro profissional ou de algum amigo.</p>
      </div>
      <div class="mid-content-2">
        <h1 class="content-title">NÓS</h1>
        <p class="content-text">entendemos a dificuldade que é encontrar profissionais na área de psicologia.</p>
      </div>
    </div>
    <div class="mid-img-container">
      <img src="icons/meeting.jpeg" alt="Imagem de um médico">
    </div>
  </div>
  <div class="bottom-container">
    <div class="bottom-content-1">
      <p class="content-text">Lucro não cuida</p>
      <div class="vertical-line"></div>
      <p class="content-text-2">Nosso objetivo com a plataforma é oferecer um lucromínimo, suficiente apenas para manter 
        o site em funcionamento e sustentar nossa equipe de desenvolvimento. A cobrança de R$ 0,50 por consulta e a taxa 
        mensal de R$ 20 para psicólogos foram estabelecidas para cobrir esses custos. </p>
    </div>
  </div>

</div>