.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 2rem auto;
    background-color: #ffffff;
}

.top-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.top-content-container {
    width: 40%;
    flex-direction: column;
}

.content-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.title-underline {
    width: 100%;
    height: 4px;
    background-color: #b0b3c2;
    margin-bottom: 20px;
}

.content-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    width: 60%;
    text-align: left;
    margin-left: auto;
}

.top-img-container {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden; 
    gap: 1rem;
    flex-wrap: wrap;
}

.top-img-container img {
    width: auto;
    max-height: 280px;
    object-fit: cover;
}

.mid-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.mid-content-container {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    width: 40%;
    min-width: 500px;
    flex-wrap: wrap;
    gap: 2rem;
}

.mid-content-1 {
    width: 40%;
    min-width: 250px;
    height: auto;
    margin-bottom: 2rem;
    background-color: #9DC0CB;
}

.mid-content-1 .content-title {
    font-size: 3rem;
    font-family: Newsreader;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: right;
}

.mid-content-1 .content-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    font-family: Newsreader;
    width: 100%;
    text-align: left;
    margin-left: auto;
}

.mid-content-2 {
    width: 40%;
    min-width: 250px;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.mid-content-2 .content-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: Newsreader;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}

.mid-content-2 .content-text {
    font-size: 1rem;
    line-height: 1.6;
    font-family: Newsreader;
    width: 100%;
    text-align: left;
    margin-right: auto;
}

.mid-img-container {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden; 
    gap: 1rem;
    flex-wrap: wrap;
}

.mid-img-container img {
    width: auto;
    max-height: 350px;
    min-width: 200px;
    object-fit: cover;
}

.bottom-container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 10rem;
}

.bottom-content-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
}

.bottom-content-1 .content-text {
    font-size: 2.5rem;
    line-height: 1.1;
    color: #555;
    width: 20%;
    max-width: 150px;
    text-align: right;
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 2px; 
}

.bottom-content-1 .content-text-2 {
    font-size: 1rem;
    line-height: 1.1;
    color: #555;
    text-align: left;
    max-width: 300px;
    margin-left: 2rem;
    margin-top: 2px;
    margin-bottom: 2px; 
}

.vertical-line {
    width: 3px; 
    background-color: black; 
    height: 100%; 
    margin-left: 1rem;
  }

@media (max-width: 768px) {
    .main-container {
        width: 90%;
        padding: 15px;
    }

    .top-content-container {
        width: 80%;
    }

    .content-title {
        font-size: 1.5rem;
    }

    .content-text {
        font-size: 0.9rem;
    }

    .top-img-container {
        width: 100%; 
    }

    .top-img-container img {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}


@media (max-width: 480px) {
    .content-title {
        font-size: 1.2rem;
    }

    .content-text {
        font-size: 0.8rem;
    }

    .main-container {
        width: 95%;
    }

    .content-container {
        width: 100%;
    }
}