<app-navbar navIndex="{{navUi}}"></app-navbar>

<main>
  <div class="popup-header">
    <div class="line"></div>
    <h5 class="material-icons">event</h5>
    <div class="line"></div>
  </div>

  <div>
    <app-calendar type="agendamentos" eventText="Agendamento" (onClick)="calendarEventListener($event)"></app-calendar>
  </div>

  @if (openDoneConsults) {
    <app-popup title="{{dateString}}">
      <div class="popup-header">
        <div class="line"></div>
        <h5> Profissional </h5>
        <div class="line"></div>
      </div>

      <div>
        <app-default-card
          btnText="Avaliar"
          type="professional"
          [name]="previousProfessional.name"
          [url_img]="previousProfessional.url_img"
          [rating]="previousProfessional.rating"
          (onButtonClick)="toggleAvailable(previousProfessional)">
        </app-default-card>
      </div>

      <div class="popup-header">
        <div class="line"></div>
        <h5> Informações </h5>
        <div class="line"></div>
      </div>

      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">location_on</span>
            <span>Localização</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>(84) 00000-0000</span>
          </div>
          <div class="info-item">
            <span class="material-icons">schedule</span>
            <span>01:00</span>
          </div>

          <div class="info-item">
            <span class="material-icons">store</span>
            <span>21</span>
          </div>
        </div>

        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">email</span>
            <span>contato&#64;gmail.com</span>
          </div>
          <div class="info-item">
            <span class="material-icons">calendar_today</span>
            <span>31/12/2012</span>
          </div>
          <div class="info-item">
            <span class="material-icons">home</span>
            <span>Remoto</span>
          </div>

          <div class="info-item">
            <span class="material-icons">mood</span>
            <span>16</span>
          </div>
        </div>
      </div>

      <app-button btnClass="btn main-button" text="Voltar" (click)="toggleDoneConsults()" style="margin-right:20px;"></app-button>
    </app-popup>
  }

  @if (openNextConsults) {
    <app-popup title="{{dateString}}">
      <div class="popup-header">
        <div class="line"></div>
        <h5> Profissional </h5>
        <div class="line"></div>
      </div>

      <div>
        <app-default-card
          btnText="Cancelar Consulta"
          type="professional"
          [name]="nextProfessional.name"
          [url_img]="nextProfessional.url_img"
          [rating]="nextProfessional.rating">
        </app-default-card>
      </div>

      <div class="popup-header">
        <div class="line"></div>
        <h5> Informações </h5>
        <div class="line"></div>
      </div>

      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">location_on</span>
            <span>Localização</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>(84) 00000-0000</span>
          </div>
          <div class="info-item">
            <span class="material-icons">home</span>
            <span>Remoto</span>
          </div>
        </div>

        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">email</span>
            <span>contato&#64;gmail.com</span>
          </div>
          <div class="info-item">
            <span class="material-icons">calendar_today</span>
            <span>31/12/2012</span>
          </div>
        </div>
      </div>

      <app-button btnClass="btn main-button" text="Voltar" (click)="toggleNextConsults()"></app-button>
    </app-popup>
  }

  @if (openAvailable) {
    <app-popup title="Avaliação">
      <div class="rating-text">
        <h4>Olá, nome do paciente!</h4>
        <h5>Faça sua avaliação do {{previousProfessional.name}}:</h5>
      </div>
      <div class="rating-container">
        <h5>Recomendação</h5>
        <div class="rating-input">
          <img src="icons/ratingStar.svg" alt="Estrela">
          <select class="rating-select" [(ngModel)] = 'rating'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        @if (error) {
          <div class="error">É obrigatório informar a classificação.</div>
        }
      </div>

      <div class="comment-section">
        <h5>Faça um comentário</h5>
        <textarea class="comment-input" placeholder="Comentário" [(ngModel)] = 'comment'></textarea>
      </div>
      <div class="button-group">
        <app-button btnClass="btn main-button" text="Avaliar" (onClick)="toggleConfirmation()" ></app-button>
        <app-button btnClass="btn main-button" text="Voltar" (onClick)="toggleAvailable(previousProfessional)" ></app-button>
      </div>
    </app-popup>
  }

  @if (openConfirmation) {
    <app-popup>
      <app-confirmation-form (cancelFunction)="toggleConfirmation()" (actionFunction)="sendAvailable($event)">

      </app-confirmation-form>
    </app-popup>
  }

  @if (showMessage) {
    <app-message>
      {{ message}}
    </app-message>
  }
</main>
