<app-navbar navIndex="{{navUi}}"></app-navbar>

<main>
  <div class="popup-header">
    <div class="line"></div>
    <h5 class="material-icons">event</h5>
    <div class="line"></div>
  </div>

  <div>
    <app-calendar type="agendamentos" eventText="Agendamento" (onClick)="calendarEventListener($event)"></app-calendar>
  </div>

  @if (openDoneConsults) {
    <app-popup title="Dados da Consulta">
      <div class="popup-header">
        <div class="line"></div>
        <h3 style="font-weight: 300;"> Profissional </h3>
        <div class="line"></div>
      </div>

      <div>
        <app-default-card
          btnText="Avaliar"
          type="professional"
          [name]="previousProfessional.name"
          [url_img]="previousProfessional.url_img"
          [rating]="previousProfessional.rating">
        </app-default-card>
      </div>

      <div class="popup-header">
        <div class="line"></div>
        <h5> Informações </h5>
        <div class="line"></div>
      </div>

      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">location_on</span>
            <span>Localização</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>(84) 00000-0000</span>
          </div>
          <div class="info-item">
            <span class="material-icons">schedule</span>
            <span>01:00</span>
          </div>

          <div class="info-item">
            <span class="material-icons">store</span>
            <span>21</span>
          </div>
        </div>

        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">email</span>
            <span>contato&#64;gmail.com</span>
          </div>
          <div class="info-item">
            <span class="material-icons">calendar_today</span>
            <span>31/12/2012</span>
          </div>
          <div class="info-item">
            <span class="material-icons">home</span>
            <span>Remoto</span>
          </div>

          <div class="info-item">
            <span class="material-icons">mood</span>
            <span>16</span>
          </div>
        </div>
      </div>

      <app-button btnClass="btn main-button" text="Voltar" (click)="toggleDoneConsults()" style="margin-right:20px;"></app-button>
    </app-popup>
  }

  @if (openNextConsults) {
    <app-popup title="Dados da Consulta">
      <div class="popup-header">
        <div class="line"></div>
        <h3 style="font-weight: 300;"> Profissional </h3>
        <div class="line"></div>
      </div>

      <div>
        <app-default-card
          btnText="Cancelar Consulta"
          type="professional"
          [name]="nextProfessional.name"
          [url_img]="nextProfessional.url_img"
          [rating]="nextProfessional.rating">
        </app-default-card>
      </div>

      <div class="popup-header">
        <div class="line"></div>
        <h5> Informações </h5>
        <div class="line"></div>
      </div>

      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">location_on</span>
            <span>Localização</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>(84) 00000-0000</span>
          </div>
          <div class="info-item">
            <span class="material-icons">home</span>
            <span>Remoto</span>
          </div>
        </div>

        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">email</span>
            <span>contato&#64;gmail.com</span>
          </div>
          <div class="info-item">
            <span class="material-icons">calendar_today</span>
            <span>31/12/2012</span>
          </div>
        </div>
      </div>

      <app-button btnClass="btn main-button" text="Voltar" (click)="toggleNextConsults()"></app-button>
    </app-popup>
  }
<!--
  @if (openDetailsDone) {
    <app-popup title="Informações">
      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">person</span>
            <span>{{ selectedPacient?.name }}</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>(84) 00000-0000</span>
          </div>
          <div class="info-item">
            <span class="material-icons">schedule</span>
            <span>00:00</span>
          </div>
        </div>

        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">email</span>
            <span>contato&#64;gmail.com</span>
          </div>
          <div class="info-item">
            <span class="material-icons">home</span>
            <span>Remoto</span>
          </div>
          <div class="info-item">
            <span class="material-icons">calendar_today</span>
            <span>31/12/2012</span>
          </div>
        </div>
      </div>
      <app-button btnClass="btn main-button" text="Voltar" (onClick)="toggleDetailsDone(selectedPacient)" ></app-button>
    </app-popup>
  }

  @if (openDetailsNext) {
    <app-popup title="Dados da Consulta">
      <div class="popup-header">
        <div class="line"></div>
        <h5> Paciente </h5>
        <div class="line"></div>
      </div>

      <div>
        <app-default-card btnText="Remover"
          type='client'
          btnText="Cancelar Consulta"
          (onButtonClick)="removePacient()"
          [name]="selectedPacient?.name"
          [url_img]="selectedPacient?.url_img"
          >
        </app-default-card>
      </div>

      <div class="popup-header">
        <div class="line"></div>
        <h5> Informações </h5>
        <div class="line"></div>
      </div>

      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">email</span>
            <span>contato&#64;gmail.com</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>(84) 00000-0000</span>
          </div>
        </div>

        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">home</span>
            <span>Remoto</span>
          </div>
          <div class="info-item">
            <span class="material-icons">calendar_today</span>
            <span>31/12/2012</span>
          </div>
        </div>
      </div>

      <app-button btnClass="btn main-button" text="Voltar" (onClick)="toggleDetailsNext(selectedPacient)" ></app-button>
    </app-popup>
  } -->
</main>
