<app-navbar navIndex="{{navUi}}"></app-navbar>

<main>
    <button (click)="toggleAgendamento()"  style="height:200px; width:200px;"></button>
    @if (openAgendamento){
      <app-popup title="Dados da Consulta">

       <div class="popup-header">
      <div class="line"></div>
      <h3 style="font-weight: 300;"> Profissional </h3>
      <div class="line"></div>
    </div>
      
        <div>
            <app-default-card
            btnText="Cancelar Consulta"
            type="professional"
            name="Aldo Queiroz"
            url_img="https://placehold.co/300"
            [rating]="rating">
    
            </app-default-card>
        </div>
    
        <div class="popup-header">
          
        

            <div class="line"></div>
            <h5> Informações </h5>
            <div class="line"></div>
          </div>
          
          <div class="info-container">
            <div class="info-group">
              <div class="info-item">
                <span class="material-icons">location_on</span>
                <span>Localização</span>
              </div>
              <div class="info-item">
                <span class="material-icons">phone</span>
                <span>(84) 00000-0000</span>
              </div>
              <div class="info-item">
                <span class="material-icons">schedule</span>
                <span>01:00</span>
              </div>
            
              <div class="info-item">
                <span class="material-icons">store</span>
                <span>21</span>
              </div>
            </div>
          
            <div class="info-group">
              <div class="info-item">
                <span class="material-icons">email</span>
                <span>contato&#64;gmail.com</span>
              </div>
              <div class="info-item">
                <span class="material-icons">calendar_today</span>
                <span>31/12/2012</span>
              </div>
              <div class="info-item">
                <span class="material-icons">home</span>
                <span>Remoto</span>
              </div>
             
              <div class="info-item">
                <span class="material-icons">mood</span>
                <span>16</span>
              </div>
            </div>
          </div>
    
        <app-button btnClass="btn main-button" text="Voltar" (click)="toggleAgendamento()" style="margin-right:20px;"></app-button>
        <app-button btnClass="btn main-button" text="Avaliar" (click)="toggleAgendamento()"></app-button>

    </app-popup>
}
</main>