<div class="horizontal-card">
  <div class="card-content">
    <div class="img-container">
      <img
      src="https://placehold.co/400"
      alt="Imagem do Card"
      class="card-image"
      />
    </div>

    <div class="details">
      @if (typeCard === 'Professional') {
        <h3>{{dataClinicOrUser.firstName + " " + dataClinicOrUser.lastName }}</h3>
      } @else if (typeCard === 'Clinic') {
        <h3>{{dataClinicOrUser.name}}</h3>
      } @else {
        <h3>{{dataClient.name}}</h3>
      }

      @if (typeCard === 'Client') {
        <p>{{ dataClient.data }}</p>
      }

      @if (typeCard !== 'Client') {
        <p>{{ dataClinicOrUser.description }}</p>
      }

      @if (typeCard !== 'Client'){
        <div class="location">
          <i class="material-icons">location_on</i>
          <span>{{ dataClinicOrUser.location }}</span>
        </div>
      }
    </div>
  </div>

  <div class="button">
    <app-button btnClass="btn main-button expand" [text]="textButton" (onClick)="clickEvent.emit()"></app-button>
  </div>
</div>
