<p>client-homepage works!</p>


<!--
<app-horizontal-card
    [typeCard]="'clinic'"
    [dataClinicOrUser]="{
        name: 'Clínica 01',
        url_img: 'https://via.placeholder.com/150',
        description: 'Olá, somos a Clínica 01',
        location: 'Localização'}"
    [clickFunction]="test">
    </app-horizontal-card>
-->

<div class="container">
    <app-horizontal-card
    [typeCard]="'clinic'"
    [dataClinicOrUser]="{
        name: 'Clínica 01',
        url_img: 'https://via.placeholder.com/150',
        description: 'Olá, somos a Clínica 01',
        location: 'Localização'}"
    [clickFunction]="test">
    </app-horizontal-card>
    <app-horizontal-card
    [typeCard]="'clinic'"
    [dataClinicOrUser]="{
        name: 'Clínica 01',
        url_img: 'https://via.placeholder.com/150',
        description: 'Olá, somos a Clínica 01',
        location: 'Localização'}"
    [clickFunction]="test">
    </app-horizontal-card>
    <app-horizontal-card
    [typeCard]="'clinic'"
    [dataClinicOrUser]="{
        name: 'Clínica 01',
        url_img: 'https://via.placeholder.com/150',
        description: 'Olá, somos a Clínica 01',
        location: 'Localização'}"
    [clickFunction]="test">
    </app-horizontal-card>
</div>