
<app-navbar navIndex="{{navUi}}"></app-navbar>

<main>
  <div class="popup-header">
    <div class="line"></div>
    <i class="material-icons">edit</i>
    <div class="line"></div>
  </div>

  <div class="main-wrapper">
    <form [formGroup]="formUpdate" class="main-form">
        <div class="profile-section">
          <img src="https://placehold.co/400" alt="Imagem de Perfil" class="profile-image">
          <div class="nome-e-imagem">
              <p>Imagem de perfil</p>
            <app-button btnClass="btn main-button" text="Selecionar imagem"></app-button>
          </div>
      </div>

      <div class="field-form">
        <label for="email">Email</label>
        <p>Email atual: emailatual&#64;gmail.com</p>
        <input type="email"
               id="email"
               formControlName="email"
               style="background-image: url('icons/mail.svg');"
               placeholder="Novo email">
      </div>

      <div class="field-form">
        <label>Senha</label>
        <div class="password-fields">
          <input type="text"
                 formControlName="password"
                 style="background-image: url('icons/password.svg');"
                 placeholder="Nova senha">
          <input type="text"
                 style="background-image: url('icons/password.svg');"
                 placeholder="Confirmar senha">
        </div>
      </div>

      <div class="buttons">
        <app-button btnClass="btn secondary-button" text="Cancelar" (onClick)="cancel()"></app-button>
        <app-button btnClass="btn main-button" text="Salvar" (onClick)="send()"></app-button>
      </div>
    </form>
  </div>
</main>
