<app-navbar navIndex="{{navUi}}"></app-navbar>

<main>
  <div class="main-container">
    <div class="popup-header">
      <div class="line"></div>
      <h2> Profissionais </h2>
      <div class="line"></div>
    </div>

    <section class="wrapper-professionals">
      @for (professional of allProfessionals; track professional) {
        <app-default-card btnText="Editar"
                          (onButtonClick)="toogleEdit(professional)"
                          type="professional"
                          [name]="professional.firstName + ' ' + professional.lastName"
                          url_img="https://placehold.co/400"
                          [rating]="professional.averageRating"
                          >

        </app-default-card>
      }
    </section>
  </div>

  <div class="button-container">
    <app-button btnClass="btn main-button" text="Adicionar" (onClick)="toggleAdd()"></app-button>
  </div>

  @if (openEdit) {
    <app-popup title="Profissional">
      <div>
        <app-default-card btnText="Remover"
          (onButtonClick)="toggleConfirmation()"
          type='professional'
          [name]="selectedProfessional.firstName + ' ' + selectedProfessional.lastName"
          url_img="https://placehold.co/400"
          [rating]="selectedProfessional.averageRating"
          >
        </app-default-card>
      </div>

      <div class="popup-header">
        <div class="line"></div>
        <h5> Informações </h5>
        <div class="line"></div>
      </div>

      <div class="info-container">
        {{selectedProfessional.description}}
      </div>

      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">location_on</span>
            <span>{{selectedProfessional.location}}</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>{{formatPhoneNumber(selectedProfessional.phoneNumber)}}</span>
          </div>
        </div>

        <div class="info-group">
            <div class="info-item">
              <span class="material-icons">home</span>
              <span>{{selectedProfessional.approach}}</span>
            </div>
          <div class="info-item">
            <span class="material-icons">fingerprint</span>
            <span>{{selectedProfessional.crp}}</span>
          </div>
        </div>
      </div>

      <app-button btnClass="btn main-button" text="Voltar" (onClick)="toogleEdit(selectedProfessional)"></app-button>
    </app-popup>
  }

  @if (openConfirmation) {
    <app-popup title="Confirmar">
      <app-confirmation-form (cancelFunction)="toggleConfirmation()"
                              (actionFunction)="removeProfessional($event)"
                              buttonText="Remover"
                              >
      </app-confirmation-form>
    </app-popup>
  }

  @if (showMessage) {
    <app-message>
      {{ message }}
    </app-message>
  }
</main>
