<app-navbar navIndex="{{navUi}}"></app-navbar>

<main>
  <div class="popup-header">
    <div class="line"></div>
    <i class="material-icons">event</i>
    <div class="line"></div>
  </div>

  <div>
    <section>
      <div (click)="toogleNext()" class="title">
        <h4>Próximas</h4>

        <div class="value_icon">
          <h4> {{ pacientsNext.length }} </h4>
          <i class="material-icons"> {{ showNext ? 'arrow_drop_up' : 'arrow_drop_down' }} </i>
        </div>
      </div>

      @if (showNext) {
        @for (pacient of pacientsNext; track pacient) {
          <app-horizontal-card typeCard="client" [dataClient]="pacient" (clickEvent)="toogleDetailsNext(pacient)"></app-horizontal-card>
        }
      }
    </section>

    <section>
      <div (click)="toogleDone()" class="title">
        <h4>Realizadas</h4>

        <div class="value_icon">
          <h4> {{ pacientsDone.length }} </h4>
          <i class="material-icons"> {{ showDone ? 'arrow_drop_up' : 'arrow_drop_down' }} </i>
        </div>
      </div>

      @if (showDone) {
        @for (pacient of pacientsDone; track pacient) {
          <app-horizontal-card typeCard="client" [dataClient]="pacient" (clickEvent)="toogleDetailsDone(pacient)"></app-horizontal-card>
        }
      }
    </section>
  </div>

  @if (showDetailsNext) {
    <app-popup title="Dados da Consulta">
      <div class="popup-header">
        <div class="line"></div>
        <h5> Paciente </h5>
        <div class="line"></div>
      </div>

      <div>
        <app-default-card btnText="Remover"
          type='client'
          btnText="Cancelar Consulta"
          (onButtonClick)="toggleConfirmation()"
          [name]="selectedPacient?.name"
          [url_img]="selectedPacient?.url_img"
          >
        </app-default-card>
      </div>

      <div class="popup-header">
        <div class="line"></div>
        <h5> Informações </h5>
        <div class="line"></div>
      </div>

      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">email</span>
            <span>contato&#64;gmail.com</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>(84) 00000-0000</span>
          </div>
        </div>

        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">home</span>
            <span>Remoto</span>
          </div>
          <div class="info-item">
            <span class="material-icons">calendar_today</span>
            <span>31/12/2012</span>
          </div>
        </div>
      </div>

      <app-button btnClass="btn main-button" text="Voltar" (onClick)="toogleDetailsNext(selectedPacient)" ></app-button>
    </app-popup>
  }

  @if (showDetailsDone) {
    <app-popup title="Informações">
      <div class="info-container">
        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">person</span>
            <span>{{ selectedPacient?.name }}</span>
          </div>
          <div class="info-item">
            <span class="material-icons">phone</span>
            <span>(84) 00000-0000</span>
          </div>
          <div class="info-item">
            <span class="material-icons">schedule</span>
            <span>00:00</span>
          </div>
        </div>

        <div class="info-group">
          <div class="info-item">
            <span class="material-icons">email</span>
            <span>contato&#64;gmail.com</span>
          </div>
          <div class="info-item">
            <span class="material-icons">home</span>
            <span>Remoto</span>
          </div>
          <div class="info-item">
            <span class="material-icons">calendar_today</span>
            <span>31/12/2012</span>
          </div>
        </div>
      </div>
      <app-button btnClass="btn main-button" text="Voltar" (onClick)="toogleDetailsDone(selectedPacient)" ></app-button>
    </app-popup>
  }

  @if (openConfirmation) {
    <app-popup title="Confirmar">
      <app-confirmation-form (cancelFunction)="toggleConfirmation()"
                              (actionFunction)="removePacient($event)"
                              buttonText="Remover"
                              >

      </app-confirmation-form>
    </app-popup>
  }

  @if (showMessage) {
    <app-message>
      {{ message }}
    </app-message>
  }
</main>
