<app-navbar navIndex="{{navUi}}"></app-navbar>

<main class="d-flex flex-column justify-content-center align-items-center">
  <div class="main-wrapper">
    <div class="content">
      <form [formGroup]="form" class="main-form">
        <h2>
          <i class="material-icons">face</i>
        </h2>

        <div class="field-form">
          <label for="email">E-mail</label>
          <input type="email"
                id="email"
                formControlName="email"
                style="background-image: url('icons/person.svg');"
                placeholder="Digite seu e-mail"
                [class.is-invalid]="form.get('email')?.errors && form.get('email')?.touched"
                >
            @if (this.form.get('email')?.touched && this.form.get('email')?.hasError('required')) {
              <div class="invalid-field">
                  Esse campo é obrigatório!
              </div>
            }

            @if (this.form.get('email')?.touched && this.form.get('email')?.hasError('email')) {
              <div class="invalid-field">
                  Informe um Email válido!
              </div>
            }
        </div>

        <div class="field-form">
          <label for="password">Senha</label>
          <input type="password"
                id="password"
                formControlName="password"
                style="background-image: url('icons/password.svg');"
                placeholder="Digite sua senha"
                >
          @if (this.form.get('password')?.touched && this.form.get('password')?.hasError('required')) {
            <div class="invalid-field">
                Esse campo é obrigatório!
            </div>
          }
        </div>

        <p>Ainda não tem conta? <app-link router="/register" text="Cadastre-se"></app-link> </p>

        <div class="buttons">
          <app-button btnClass="btn main-button" text="Login" (onClick)="submit()"></app-button>
        </div>
      </form>
    </div>
    <div class="content banner">
      <h1>PSI Planner</h1>
      <p>O gerenciador que você e sua empresa necessita.
      Veja mais sobre nós e como podemos te ajudar!</p>
    </div>
  </div>
  <div class="welcome">
    <p>
      Bem vindo ao nosso site!
    </p>
  </div>
</main>
