<main>
  <div class="wrapper type-form">
    <button [class.active-button]="selectForm === 'client'" class="btn button-flap" (click)="setClientForm()">Cliente</button>
    <button [class.active-button]="selectForm === 'clinic'" class="btn button-flap" (click)="setClinicForm()" >Clínica</button>
    <button [class.active-button]="selectForm === 'professional'" class="btn button-flap" (click)="setProfessionalForm()">Professional</button>
  </div>

  <div class="wrapper">
    <!-- Client form! -->
    @if (selectForm === 'client') {
      <form [formGroup]="formClient" class="main-form">
        <div class="field-form">
          <label for="name">Nome</label>
          <input type="text"
                 id="name"
                 formControlName="name"
                 style="background-image: url('icons/person.svg');"
                 placeholder="Digite seu nome">
        </div>

        <div class="field-form">
          <label for="surname">Sobrenome</label>
          <input type="text"
                 id="surname"
                 formControlName="surname"
                 style="background-image: url('icons/person.svg');"
                 placeholder="Digite seu sobrenome">
        </div>

        <div class="field-form">
          <label for="cpf">CPF</label>
          <input type="number"
                 id="cpf"
                 formControlName="cpf"
                 style="background-image: url('icons/fingerprint.svg');"
                 placeholder="Digite seu CPF (apenas números)">
        </div>

        <div class="field-form">
          <label for="email">Email</label>
          <input type="email"
                 id="email"
                 formControlName="email"
                 style="background-image: url('icons/mail.svg');"
                 placeholder="Digite seu Email">
        </div>

        <div class="field-form">
          <label for="telephone">Telefone</label>
          <input type="number"
                 id="telephone"
                 formControlName="telephone"
                 style="background-image: url('icons/smartphone.svg');"
                 placeholder="Digite seu telefone (apenas números)">
        </div>

        <div class="field-form">
          <label for="password">Senha</label>
          <input type="password"
                 id="password"
                 formControlName="password"
                 style="background-image: url('icons/password.svg');"
                 placeholder="Digite sua senha">
        </div>

        <div class="field-form">
          <label for="password-confirm">Confirmar senha</label>
          <input type="password"
                 id="password-confirm"
                 style="background-image: url('icons/password.svg');"
                 placeholder="Digite sua senha">
        </div>

        <div class="buttons">
          <app-button btnClass="btn secondary-button" text="Cancelar" (onClick)="cancel()"></app-button>
          <app-button btnClass="btn main-button" text="Cadastrar" (onClick)="submit()"></app-button>
        </div>
      </form>
    }

    <!-- Clinic form! -->
    @if (selectForm === 'clinic') {
      <form [formGroup]="formClinic" class="main-form">
        <div class="field-form">
          <label for="name">Nome da empresa</label>
          <input type="text"
                 id="name"
                 formControlName="name"
                 style="background-image: url('icons/domain.svg');"
                 placeholder="Digite o nome da empresa">
        </div>

        <div class="field-form">
          <label for="cnpj">CNPJ</label>
          <input type="number"
                 id="cnpj"
                 formControlName="cnpj"
                 style="background-image: url('icons/fingerprint.svg');"
                 placeholder="Digite seu CNPJ (apenas números)">
        </div>

        <div class="field-form">
          <label for="email">Email</label>
          <input type="email"
                 id="email"
                 formControlName="email"
                 style="background-image: url('icons/mail.svg');"
                 placeholder="Digite seu email">
        </div>

        <div class="field-form">
          <label for="telephone">Telefone</label>
          <input type="number"
                 id="telephone"
                 formControlName="telephone"
                 style="background-image: url('icons/smartphone.svg');"
                 placeholder="Digite seu telefone (apenas números)">
        </div>

        <div class="field-form">
          <label for="location">Local</label>
          <input type="text"
                 id="location"
                 formControlName="location"
                 style="background-image: url('icons/location_on.svg');"
                 placeholder="Digite a sua localização">
        </div>

        <div class="buttons">
          <app-button btnClass="btn secondary-button" text="Cancelar" (onClick)="cancel()"></app-button>
          <app-button btnClass="btn main-button" text="Cadastrar" (onClick)="submit()"></app-button>
        </div>
      </form>
    }

    <!-- Professional form! -->
    @if (selectForm === 'professional') {
      <form [formGroup]="formProfessional" class="main-form">
        <div class="field-form">
          <label for="name">Nome</label>
          <input type="text"
                 id="name"
                 formControlName="name"
                 style="background-image: url('icons/person.svg');"
                 placeholder="Digite seu nome">
        </div>

        <div class="field-form">
          <label for="crp">CRP</label>
          <input type="number"
                 id="crp"
                 formControlName="crp"
                 style="background-image: url('icons/fingerprint.svg');"
                 placeholder="Digite seu CRP">
        </div>

        <div class="field-form">
          <label for="email">Email</label>
          <input type="email"
                 id="email"
                 formControlName="email"
                 style="background-image: url('icons/mail.svg');"
                 placeholder="Digite seu Email">
        </div>

        <div class="field-form">
          <label for="telephone">Telefone</label>
          <input type="number"
                 id="telephone"
                 formControlName="telephone"
                 style="background-image: url('icons/call.svg');"
                 placeholder="Digite seu telefone (apenas números)">
        </div>

        <div class="field-form">
          <label for="approach">Abordagem</label>
          <input type="text"
                 id="approach"
                 formControlName="approach"
                 style="background-image: url('icons/psychology.svg');"
                 placeholder="Digite sua especialidade">
        </div>

        <div class="buttons">
          <app-button btnClass="btn secondary-button" text="Cancelar" (onClick)="cancel()"></app-button>
          <app-button btnClass="btn main-button" text="Cadastrar" (onClick)="submit()"></app-button>
        </div>
      </form>
    }
  </div>
</main>
