<app-navbar navIndex="{{navUi}}"></app-navbar>

<main>
  <div class="wrapper type-form">
    <button [class.active-button]="selectForm === 'client'" class="btn button-flap" (click)="setClientForm()">Cliente</button>
    <button [class.active-button]="selectForm === 'clinic'" class="btn button-flap" (click)="setClinicForm()" >Clínica</button>
    <button [class.active-button]="selectForm === 'professional'" class="btn button-flap" (click)="setProfessionalForm()">Professional</button>
  </div>

  <div class="wrapper">
    <!-- Client form! -->
    @if (selectForm === 'client') {
      <form [formGroup]="formClient" class="main-form">
        <div class="field-form">
          <label for="name-client">Nome</label>
          <input type="text"
                 id="name-client"
                 formControlName="firstName"
                 style="background-image: url('/icons/person.svg');"
                 placeholder="Digite seu nome">
        </div>

        <div class="field-form">
          <label for="surname-client">Sobrenome</label>
          <input type="text"
                 id="surname-client"
                 formControlName="lastName"
                 style="background-image: url('/icons/person.svg');"
                 placeholder="Digite seu sobrenome">
        </div>

        <div class="field-form">
          <label for="username-client">Nome de Usuário</label>
          <input type="text"
                 id="username-client"
                 formControlName="username"
                 style="background-image: url('/icons/person.svg');"
                 placeholder="Digite seu sobrenome">
        </div>

        <div class="field-form">
          <label for="cpf-client">CPF</label>
          <input type="text"
                 id="cpf-client"
                 formControlName="cpf"
                 style="background-image: url('/icons/fingerprint.svg');"
                 placeholder="Digite seu CPF (apenas números)">
        </div>

        <div class="field-form">
          <label for="gender-client">Gênero</label>
          <select id="gender-client" formControlName="gender">
            <option value="" disabled selected>Informe seu gênero</option>
            <option value="male">Masculino</option>
            <option value="female">Feminino</option>
            <option value="other">Outro</option>
          </select>
        </div>

        <div class="field-form">
          <label for="email-client">Email</label>
          <input type="email"
                 id="email-client"
                 formControlName="email"
                 style="background-image: url('/icons/mail.svg');"
                 placeholder="Digite seu Email">
        </div>

        <div class="field-form">
          <label for="telephone-client">Telefone</label>
          <input type="text"
                 id="telephone-client"
                 formControlName="phoneNumber"
                 style="background-image: url('/icons/smartphone.svg');"
                 placeholder="Digite seu telefone (apenas números)">
        </div>

        <div class="field-form">
          <label for="password-client">Senha</label>
          <input type="password"
                 id="password-client"
                 formControlName="password"
                 style="background-image: url('/icons/password.svg');"
                 placeholder="Digite sua senha">
        </div>

        <div class="buttons">
          <app-button btnClass="btn secondary-button" text="Cancelar" (onClick)="cancel()"></app-button>
          <app-button btnClass="btn main-button" text="Cadastrar" (onClick)="submit()"></app-button>
        </div>
      </form>
    }

    <!-- Clinic form! -->
    @if (selectForm === 'clinic') {
      <form [formGroup]="formClinic" class="main-form">
        <div class="field-form">
          <label for="name-clinic">Nome da empresa</label>
          <input type="text"
                 id="name-clinic"
                 formControlName="clinicName"
                 style="background-image: url('/icons/domain.svg');"
                 placeholder="Digite o nome da empresa">
        </div>

        <div class="field-form">
          <label for="username-clinic">Nome de Usuário da Clínica</label>
          <input type="text"
                 id="username-clinic"
                 formControlName="username"
                 style="background-image: url('/icons/person.svg');"
                 placeholder="Digite seu sobrenome">
        </div>

        <div class="field-form">
          <label for="cnpj">CNPJ</label>
          <input type="text"
                 id="cnpj"
                 formControlName="cnpj"
                 style="background-image: url('/icons/fingerprint.svg');"
                 placeholder="Digite seu CNPJ (apenas números)">
        </div>

        <div class="field-form">
          <label for="email-clinic">Email</label>
          <input type="email"
                 id="email-clinic"
                 formControlName="email"
                 style="background-image: url('/icons/mail.svg');"
                 placeholder="Digite seu email">
        </div>

        <div class="field-form">
          <label for="telephone-clinic">Telefone</label>
          <input type="text"
                 id="telephone-clinic"
                 formControlName="phoneNumber"
                 style="background-image: url('/icons/smartphone.svg');"
                 placeholder="Digite seu telefone (apenas números)">
        </div>

        <div class="field-form">
          <label for="location-clinic">Local</label>
          <input type="text"
                 id="location-clinic"
                 formControlName="location"
                 style="background-image: url('/icons/location_on.svg');"
                 placeholder="Digite a sua localização">
        </div>

        <div class="field-form">
          <label for="description-clinic">Descrição</label>
          <textarea id="description-clinic"
                    formControlName="description"
                    rows="4"
                    style="resize: none; border: 1px solid #CCC"></textarea>
        </div>

        <div class="field-form">
          <label for="password-clinic">Senha</label>
          <input type="password"
                 id="password-clinic"
                 formControlName="password"
                 style="background-image: url('/icons/password.svg');"
                 placeholder="Digite sua senha">
        </div>

        <div class="buttons">
          <app-button btnClass="btn secondary-button" text="Cancelar" (onClick)="cancel()"></app-button>
          <app-button btnClass="btn main-button" text="Cadastrar" (onClick)="submit()"></app-button>
        </div>
      </form>
    }

    <!-- Professional form! -->
    @if (selectForm === 'professional') {
      <form [formGroup]="formProfessional" class="main-form">
        <div class="field-form">
          <label for="name-professional">Nome</label>
          <input type="text"
                 id="name-professional"
                 formControlName="firstName"
                 style="background-image: url('/icons/person.svg');"
                 placeholder="Digite seu nome">
        </div>

        <div class="field-form">
          <label for="surname-professional">Nome de Usuário</label>
          <input type="text"
                 id="surname-professional"
                 formControlName="lastName"
                 style="background-image: url('/icons/person.svg');"
                 placeholder="Digite seu sobrenome">
        </div>

        <div class="field-form">
          <label for="username-professional">Nome de Usuário</label>
          <input type="text"
                 id="username-professional"
                 formControlName="username"
                 style="background-image: url('/icons/person.svg');"
                 placeholder="Digite seu nome de usuário">
        </div>

        <div class="field-form">
          <label for="gender-professional">Gênero</label>
          <select id="gender-professional" formControlName="gender">
            <option value="" disabled selected>Informe seu gênero</option>
            <option value="male">Masculino</option>
            <option value="female">Feminino</option>
            <option value="other">Outro</option>
          </select>
        </div>

        <div class="field-form">
          <label for="cpf-professional">CPF</label>
          <input type="text"
                 id="cpf-professional"
                 formControlName="cpf"
                 style="background-image: url('/icons/fingerprint.svg');"
                 placeholder="Digite seu CPF">
        </div>

        <div class="field-form">
          <label for="crp">CRP</label>
          <input type="text"
                 id="crp"
                 formControlName="crp"
                 style="background-image: url('/icons/fingerprint.svg');"
                 placeholder="Digite seu CRP">
        </div>

        <div class="field-form">
          <label for="email-professional">Email</label>
          <input type="email"
                 id="email-professional"
                 formControlName="email"
                 style="background-image: url('/icons/mail.svg');"
                 placeholder="Digite seu Email">
        </div>

        <div class="field-form">
          <label for="telephone-professional">Telefone</label>
          <input type="text"
                 id="telephone-professional"
                 formControlName="phoneNumber"
                 style="background-image: url('/icons/call.svg');"
                 placeholder="Digite seu telefone (apenas números)">
        </div>

        <div class="field-form">
          <label for="approach">Abordagem</label>
          <input type="text"
                 id="approach"
                 formControlName="approach"
                 style="background-image: url('/icons/psychology.svg');"
                 placeholder="Digite sua especialidade">
        </div>

        <div class="field-form">
          <label for="description-professional">Descrição</label>
          <textarea id="description-professional"
                    formControlName="description"
                    rows="4"
                    style="resize: none; border: 1px solid #CCC"></textarea>
        </div>

        <div class="field-form">
          <label for="location-professional">Local</label>
          <input type="text"
                 id="location-professional"
                 formControlName="location"
                 style="background-image: url('/icons/location_on.svg');"
                 placeholder="Digite a sua localização">
        </div>

        <div class="field-form">
          <label for="password-professional">Senha</label>
          <input type="password"
                 id="password-professional"
                 formControlName="password"
                 style="background-image: url('/icons/password.svg');"
                 placeholder="Digite sua senha">
        </div>

        <div class="buttons">
          <app-button btnClass="btn secondary-button" text="Cancelar" (onClick)="cancel()"></app-button>
          <app-button btnClass="btn main-button" text="Cadastrar" (onClick)="submit()"></app-button>
        </div>
      </form>
    }
  </div>
</main>
