<div class="calendar container-sm">
  <div class="icon">
    <button (click)="prevMonth()">
      <img src="icons/previous.svg">
    </button>
    <h3>{{ months[currentMonth] }} de {{ currentYear }}</h3>
    <button (click)="nextMonth()">
      <img src="icons/next.svg">
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        @for(day of weekDays;track $index){
          <th class="day-week" scope="col">{{ day }}</th>
        }
      </tr>
      </thead>
      <tbody>
        @for(week of calendar; track $index){
          <tr>
            @for(day of week;track $index){
              <td class="day">
                <div class="day-container">
                  <p
                    [class.mes-anterior]="day.isPrevMonth"
                    [class.proximo-mes]="day.isNextMonth"
                    [class.today]="day.isToday"
                  >
                    {{ day.date }}
                  </p>
                    @if(day.hasEvent && earlierThanToday(day)) {
                      <a (click)="onClick.emit()" class="eventUnavailable"
                      >{{ eventText }}</a>
                    } @else if (day.hasEvent && laterThanToday(day)){
                      <a (click)="onClick.emit()" [ngClass]="{'horarioDisponivel': type === 'horarios', 'eventUnavailable': type === 'agendamentos'}"
                      > {{eventText}} </a>
                    }
                </div>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if (type === 'agendamentos') {
    <div class="captions">
      <div class="agendamento-realizado"></div>
      <p>Realizados</p>

      <div class="proximo-agendamento"></div>
      <p>Próximos</p>
    </div>
  } @else if (type === 'horarios') {
    <div class="captions">
      <div class="horario-disponivel"></div>
      <p>Horários Disponíveis</p>
    </div>
  }
</div>
