
.mes-anterior {
  color: gray;
}
.proximo-mes {
  color: lightgray;
}

/*Centralizando o mês e as setas*/
.icon {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Espaçamento entre o mês e as setas*/
.icon h3 {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/*Estilo dos botões do mês*/
.icon button {
  border: none;
  background-color: transparent;
}

/*Estilo do container do calendário*/
.calendar {
  margin-top: 2rem;
  border: solid 2px #5b6372;
  box-shadow:5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 20px;
  margin-bottom: 1rem;
}

/* Para a width dos elementos não ficar mudando*/
table {
  table-layout: fixed;
  width: 100%;
}

/*Padronizando a altura pra todos os dias menos para os nomes*/
tr:has(.day) {
  height: 88px;
}

/*Estilo do nome dos dias da semana*/
.day-week {
  font-weight: 500;
  color: #5b6372;
  padding-bottom: 17px;
}

/*Centralizar e padding pros dias*/
td .day {
  text-align: center;
  font-weight: 0;
}

/*Evitar que o evento fique por cima das linhas da tabela*/
.day-container {
  justify-content: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  height: 100%;
}

/*Estilização do link do evento */
.day-container a {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 2px 20px 2px 10px;
  cursor: pointer;
}

.day-container a.eventUnavailable {
  color: #5b6372;
  border: solid 1px #bed7dc;
  background-color: #bed7dc;
}

.day-container a.eventAvailable {
  color: #FFFFFF;
  border: solid 1px #455D51;
  background-color: #455D51;
}

.day-container a.horarioDisponivel {
  color: #FFFFFF;
  border: solid 1px rgb(39, 213, 92);
  background-color: rgb(39, 213, 92);
  padding: 2px 20px 2px 10px;
}

.today {
  background-color: #455D51;
  border-radius:50%;
  color: #FFFFFF;
}

.day-container p{
  width: 25px;
  height: 25px;
}

.agendamento-realizado{
  height: 20px;
  width: 20px;
  background-color: #bed7dc;
}

.proximo-agendamento{
  height: 20px;
  width: 20px;
  background-color: #455D51;
}

.horario-disponivel {
  height: 20px;
  width: 20px;
  background-color: rgb(39, 213, 92);
}

.captions{
  display: flex;
  gap: 14px;
  justify-content: center;
}

.captions p{
  margin-right: 40px;
}

@media (max-width: 680px){
  main {
    margin-left: 0;
    margin-right: 0;
  }
  .calendar{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    width: 99%;
  }
}
