main {
  padding: 1rem 0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 0 1rem;
}

.line {
  height: 1px;
  background-color: #ccc;
  flex-grow: 1;
  margin: 0 10px;
}

.wrapper-pacients {
  display: flex;
  overflow-x: auto;
  gap: 0.4rem;
  margin-bottom: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}

app-default-card {
  min-width: 200px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.info-group {
  flex: 1;
  min-width: 200px;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.info-item span.material-icons {
  font-size: 1.2rem;
  color: #666;
  margin-right: 0.6rem;
}

@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-group {
    width: 100%;
  }

  .info-item {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .info-item span {
    font-size: 0.9rem;
  }
}
